<div class="second_footer_border"></div>
  <div class="second_footer_wrap">
       <div class="second_footer_backpage">
         <div class="resources">
           <r:editable_region name="resources" scope="site" />
         </div> <!-- /.resources -->
  
         <div class="downloads">
           <r:editable_region name="downloads" scope="site" />
         </div><!-- /.downloads -->
  
         <div class="apply">
           <r:editable_region name="apply" scope="site" />
         </div><!-- /.apply -->
  
         <div class="follow">
             <r:editable_region name="follow" scope="site" />
             <r:partial name="patterns/wvu-social-media-icons" scope="site" />
         </div><!-- /.follow -->    
  
       </div> <!-- /.second_footer_backpage -->
    </div> <!-- second_footer_wrap -->
     