<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8 no-js" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <r:comment><!-- meta charset gets set automatically by CleanSlate --></r:comment>
    <title><r:page:first_non_blank_attr names="title, name" /> | <r:site_name /> | West Virginia University</title>
    <meta name="description" content="<r:page:meta_description />" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fast.fonts.net/cssapi/36d8cd92-7cc7-499b-b169-0eed9d670283.css"/> <r:comment><!-- Helvetica Neue Roman, italic, bold, bold italic, & bold condensed (customized for this project!) web font, valid for *.wvu.edu, *.wvutech.edu, & localhost --></r:comment>
    <r:include_stylesheet name="normalize, styles" />
    
    <!--[if IE 9]>
      <r:include_stylesheet name="ie9" />
    <![endif]-->
    <!--[if lt IE9]>
      <r:include_stylesheet name="ie8" />
    <![endif]-->

    <r:comment><!-- Modernizr includes the HTML5 Shiv and it's required for old IE to recognize HTML5 tags. --></r:comment>
    <r:include_javascript name="vendor/modernizr-2.8.3.custom" />

  </head>
  <body class="<r:page:template:name /> page-<r:page:id /> page-<r:page:slug />">
   
    <a class="wvu-skip-nav" href="#maincontent">Skip to main content</a>
    
    <r:partial name="patterns/wvu-masthead" />
    
    <r:partial name="patterns/wvu-nav" />
    
    <r:comment><!-- What are layouts and <r:yield />? http://goo.gl/DFAsPv --></r:comment>
    <r:yield />

    <div class="wvu-container">
      <footer class="wvu-footer">
        <r:partial name="patterns/wvu-footer__contact--v1" />
        <r:partial name="patterns/wvu-footer__credits--v2" />
        <r:partial name="patterns/wvu-footer__icons--v1" />
      </footer> <!-- /.footer -->
    </div>

    <!-- Responsive-nav.com, calendar, & quicklinks -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://code.wvu.edu/public/vendor/jquery/1.11.1/jquery.min.js"><\/script>')</script>

    <r:include_javascript name="vendor/responsive-nav, responsive-nav--custom, vendor/quicklinks, vendor/wvu-nav-dropdowns" />
    
    <r:yield name="page_js">
      <r:content />
    </r:yield>

    <r:partial name="layouts/browser-update-org--v1" theme="Code" />

    <r:comment><!-- Fix IE 8 and below so that media queries get supported --></r:comment>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
    <![endif]-->

    <r:comment>
      <!-- TODO: Fix buggyness of Flexbox with flex-wrap on backpages. @supports? Modernizr test? -->
      <!-- TODO: Mind the stupid print stylesheet -->
    </r:comment>

    <!-- Entypo pictograms by Daniel Bruce — www.entypo.com, generated by http://icomoon.io -->

  </body>
</html>