.wvu-calendar { padding-left: 0;
  li { margin-bottom: 0.5em; display: inline-block; width: 100%;
    .eventDate { float: left; margin-right: 4%; width: 10%; text-align: center; padding-bottom: 6px; border-radius: 6px; 
    }
    .calEventMonth { font-size: .8em; text-transform: uppercase; }
    .calEventDay { display: block; font-size: 1.5em; line-height: .8em; clear: both; }
    .eventInfo { float: left; width: 86%;}
    .eventTime { font-weight: bold; }
    .eventName { display: block; }
  }
}