---
layout: default
---


<div class="page_title">
   <r:editable_region name="page_title" />
</div> <!-- /.page_title -->
       
<div class="backpage_content">  
    
  <div class="big_content">
    <r:breadcrumbs ul_class="breadcrumbs"/>     
     <r:editable_region name="main" />
  </div> <!-- /.big_content -->
  
  <div class="right_side">
    <div class="sidebar">
     <r:editable_region name="sidebar" />
    </div> <!-- /.sidebar -->
  </div>

</div> <!-- close backpage -->
     
<r:partial name="backpagefooter" />
