---
layout: default
---

<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">

  <r:comment><!-- PRO-TIP: The URL for the cross-site-blog variable should end in either .rss or .xml--></r:comment>
  <r:set_var name="cross-site-blog-url"><r:site:data name="cross-site-blog-url" /></r:set_var>

  <main id="maincontent" class="main">
    <h1><r:page:name /></h1>

    <section class="wvu-xslt-feed">
      <div class="wvu-xslt-feed-container">
        <r:xslt_transform url="{$cross-site-blog-url}" xslt_file="/util/blog_index.xslt" />
      </div>
    </section>

  </main>

  <aside class="wvu-sidebar">
    <div class="wvu-sub-nav">
      <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
    </div> <!-- /.wvu-sub-nav -->
    <r:editable_region name="sidebar" />
  </aside>

</div> <!-- /.wvu-container -->
