---
layout: default
---


<r:editable_region name="wvu-hero__photo">Photo 1 goes here.</r:editable_region>
<r:editable_region name="wvu-hero__photo-2" />
<r:editable_region name="wvu-hero__photo-3" />
<div class="wvu-hero__container">
	<h1><r:editable_region name="wvu-hero__title-top" /><br><span class="wvu-hero__title-bottom"><r:editable_region name="wvu-hero__title-bottom" /></span></h1>
	<p><r:editable_region name="wvu-hero__text">Caption text goes here.</r:editable_region></p>
  <p><r:editable_region name="wvu-hero__button-display-text" type="simple">Button display text goes here.</r:editable_region></p>
  <p><r:editable_region name="wvu-hero__button-url" type="simple">URL goes here.</r:editable_region></p>
</div>
