---
layout: default
---


<r:editable_region name="wvu-hero__photo" />
<r:editable_region name="wvu-hero__photo-2" />
<r:editable_region name="wvu-hero__photo-3" />
<div class="wvu-hero__container">
	<h1><r:editable_region name="wvu-hero__title-top" /><br><span class="wvu-hero__title-bottom"><r:editable_region name="wvu-hero__title-bottom" /></span></h1>
	<p><r:editable_region name="wvu-hero__text" /></p>	
  <a href="<r:page:url />" class="button button--white"><r:editable_region name="wvu-hero__button-text" /></a>
</div>

