.code-label { margin-top: 3em; font-size: 0.8em; padding: 0.25em 0.6em; border-radius: 8px; display: inline-block; margin-bottom: 0.5em; }
.code-label--html { background: $pms-7557-c; color: white;}
.code-label--styles { background: $pms-5625-c; color: white; }
.code-label--js { background: $pms-7476-c; color: white; }

.element-header { border-top: 1px solid #eee; margin: 140px 0 80px 0; font-size: 0.8em; padding-top: 0.5em; text-align: center; font-weight: normal; 
  &:after { 
    font-size: 2em;
    line-height: 2em;
    color: #ddd;
    position: relative;
    z-index: -1;
    display: block;
    clear: both;
    content: "❯";
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);}
}
