
.wvu-masthead__search-slider {
	position: relative;
	top: 0;
	background: transparent;
	width:100%;
}

.wvu-nav__search-toggle {
  &.inactive-search {
    display: none; 
  }
  &.active-search {
	  display: none;
  }
}

.nav-toggle { float: left; width: 100%; height: 56px; }


