// WVU Navigation
//==================================================
// Styles for the main navigation on WVU sites.

.wvu-nav {
  @include black-background();
  width: 100%;
} //.wvu-nav

.wvu-nav__items,
.wvu-nav ul {
  float: left;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  width: 100%;

  li {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
    max-width: none; // Override default 45em max-width.

    @include mq($bp-medium) {
      float: left;
      width: auto;
    } //mq

  } //li

  > li {
    @include mq($bp-medium) {
      border-right: 1px solid #444;
    } //mq
  } // > li

  a {
    color: #fff;
    float: left;
    max-width: none; // Override default 45em max-width.
    padding: 1rem;
    text-decoration: none;
    width: 100%;

    &:hover {
      background: $wvu-gold;
      color: $wvu-blue;
    } //&:hover
  } //a

} //.wvu-nav__items, .wvu-nav ul

// Responsive-nav.com toggle
.nav-toggle {
  float: left;
  max-width: none; // Override default 45em max-width.
  padding: 1rem;
  text-align: center;
  width: 100%;

  &:hover {
    background-color: $wvu-gold;
    text-decoration: none;
  } // &:hover

  &.nav-toggle { // Specificity, gah!
    &:hover {
      color: $wvu-blue;
    } //&:hover
  } //&.nav-toggle

} //.nav-toggle

.nav-collapse {
  clear: both;
} //&.nav-collapse
