// Skip Nav
// If you hit "Tab" on your keyboard, you'll see "Skip to Main Content".
// This file contains styles that augment the .visually-hidden and .focusable classes.

.wvu-skip-nav {
  background: #fff;
  padding: .75rem;
  z-index: 10;

  &.wvu-skip-nav { // Specificity, gah!
    &:active,
    &:focus {
      position: absolute;
    } //&:active, &:focus
  } //&.wvu-skip-nav
} //.wvu-skip-nav
