
<div class="wvu-hero wvu-hero--small-photo <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug />">
	<div class="wvu-hero__container">
    <div class="wvu-hero__copy">
  		<h1><r:page:content name="wvu-hero__title-top" /><br><span class="wvu-hero__title-bottom"><r:page:content name="wvu-hero__title-bottom" /></span></h1>
  		<p><r:page:content name="wvu-hero__text" /></p>	
      <a href="<r:page:content name="wvu-hero__button-url" />" class="button"><r:page:content name="wvu-hero__button-display-text" /></a>
    </div>
    <div class="wvu-hero__photo">
      <r:page:content name="wvu-hero__photo" />
    </div>
	</div>
</div>