<!-- WVU Spotlight - wvu-pattern-library/views/patterns/_wvu-spotlight.html -->

<div class="wvu-spotlight wvu-spotlight--<r:page:slug /> <r:var name="wvu-spotlight__classes" />">
  <div class="wvu-spotlight__image">
    <r:editable_region name="spotlight__image" />
  </div>
  <div class="wvu-spotlight__copy">
    <h2><r:editable_region name="spotlight__header" type="simple" /></h2>
    <p><r:editable_region name="spotlight__description" type="simple" /></p>
    <r:editable_region name="spotlight__button" />
  </div>
</div>
