<div class="wvu-masthead <r:var name="wvu-masthead__classes" />">
  <div class="wvu-masthead__container">
    <r:partial name="patterns/wvu-masthead__logo" /> 
 
    <div class="wvu-masthead__search-slider">
      <r:partial name="patterns/wvu-masthead__search-bar" />
    </div>   
   
  </div> <!-- /.wvu-masthead-container -->
</div> <!-- /.wvu-masthead --> 

<div class="wvu-nav <r:var name="wvu-nav__classes" />">
  <div class="wvu-nav__container">
  <button class="wvu-nav__search-toggle inactive-search" onclick="document.getElementsByClassName('wvu-masthead__search-slider')[0].classList.toggle('closed');">Toggle Search</button>
    <r:site_menu ul_class="wvu-nav__items nav-collapse" />
  </div>
</div>