
<div class="wvu-hero <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug />">
  <r:page:content name="wvu-hero__photo" />
  <r:page:content name="wvu-hero__photo-2" />
  <r:page:content name="wvu-hero__photo-3" />
	<div class="wvu-hero__container">
    <div class="wvu-hero__copy">
  		<h1><r:page:content name="wvu-hero__title-top" /><br><span class="wvu-hero__title-bottom"><r:page:content name="wvu-hero__title-bottom" /></span></h1>
  		<p><r:page:content name="wvu-hero__text" /></p>	
      <a href="<r:page:content name="wvu-hero__button-url" />" class="button button--white"><r:page:content name="wvu-hero__button-display-text" /></a>
    </div>
	</div>
</div>