<div class="wvu-diptych <r:var name="wvu-diptych__classes" />">
  <div class="wvu-diptych__container">
    <div class="wvu-spotlight">
      <div class="wvu-spotlight__image">
        <r:editable_region name="wvu-diptych__image-1" />
      </div>
      <div class="wvu-spotlight__copy omega">
        <h2><r:editable_region name="wvu-diptych__header-1" type="simple" /></h2>
        <p><r:editable_region name="wvu-diptych__description-1" type="simple" /></p>
        <r:editable_region name="wvu-diptych__button-1" />
      </div>
    </div>

    <div class="wvu-spotlight omega">
      <div class="wvu-spotlight__image">
        <r:editable_region name="wvu-diptych__image-2" />
      </div>
      <div class="wvu-spotlight__copy omega">
        <h2><r:editable_region name="wvu-diptych__header-2" type="simple" /></h2>
        <p><r:editable_region name="wvu-diptych__description-2" type="simple" /></p>
        <r:editable_region name="wvu-diptych__button-2" />
      </div>
    </div>
  </div>
</div>