<div class="wvu-diptych-combo <r:var name="wvu-diptych-combo__classes" />">
  <div class="wvu-diptych-combo__container">
    <div class="wvu-diptych-combo__panel wvu-diptych-combo__panel--spotlights">
      <h2><r:editable_region name="wvu-spotlight-panel-header-1" /></h2>

      <div class="wvu-spotlight">
        <div class="wvu-spotlight__image">
          <r:editable_region name="wvu-spotlight-2"><a href="<r:page:url />"><img src="https://patterns.wvu.edu/images/kids-sitting-by-tulips.jpg" /></a>
          </r:editable_region>
        </div>
        <div class="wvu-spotlight__copy omega">
          <h2><r:editable_region name="wvu-spotlight-header-1" /></h2>
          <r:editable_region name="wvu-spotlight-copy-1" />
        </div>
      </div>

      <div class="wvu-spotlight">
        <div class="wvu-spotlight__image">
          <r:editable_region name="wvu-spotlight-2"><a href="<r:page:url />"><img src="https://patterns.wvu.edu/images/kids-sitting-by-tulips.jpg" /></a>
          </r:editable_region>
        </div>
        <div class="wvu-spotlight__copy omega">
          <h2><r:editable_region name="wvu-spotlight-header-2" /></h2>
          <r:editable_region name="wvu-spotlight-copy-2" />
        </div>
      </div>

    </div>

    <div class="wvu-diptych-combo__panel wvu-diptych-combo__panel--calendar omega">
      <h2>
        <r:editable_region name="wvu-spotlight-panel-header-2" />
      </h2>

      <r:editable_region name="wvu-spotlight-events-calendar-feed" />

    </div>
  </div>

</div>
