<div class="wvu-icons">
  <ul class="wvu-links">
    
		<li><a href="http://www.wvutech.edu/campus_map">Campus Map</a></li>
    <li><a href="http://www.wvutech.edu/directory">Directory</a></li>
		<li><a href="http://hr.wvutech.edu/employment_opportunities">Jobs</a></li>
    <li class="first"><a href="http://www.wvutech.edu/a_z_site_index">Site Index</a></li>
		
  </ul>
  <ul class="wvu-links">
    <li><a href="https://www.mountaineerconnection.com/sslpage.aspx?pid=501&section=WVU%20Tech">Give</a></li>
    <li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
    <li><a href="http://cal.wvu.edu/default.aspx?type=&view=Grid&category=35-0%2c35-118%2c35-119%2c35-120%2c35-121%2c35-122%2c35-123%2c35-124%2c35-125&ihc=y">Calendar</a></li>
    <li><a href="http://emergency.wvu.edu/alert/tech/">Tech Alert</a></li>
    <li><a href="http://mix.wvu.edu/">MIX</a></li>
  </ul>
  
  <ul class="wvu-social">
    <li><a class="wvu-tech-instagram" href="http://instagram.com/wvu_tech">WVU Tech on Instagram</a></li>
    <li><a class="wvu-tech-flickr" href="http://www.flickr.com/photos/tech-relations-communications/sets/">WVU Tech on Flickr</a></li>
    <li><a class="wvu-facebook" href="http://www.facebook.com/pages/Montgomery-WV/West-Virginia-University-Institute-of-Technology/147509211929495">WVU Tech on Facebook</a></li>
    <li><a class="wvu-twitter" href="http://twitter.com/WVU_Tech">WVU Tech on Twitter</a></li>
    <li><a class="wvu-youtube" href="http://www.youtube.com/WVUTech1895">WVU Tech on YouTube</a></li>
  </ul>
</div> <!-- /.wvu-icons -->