<div class="wvu-credits" role="contentinfo">
  <ul>
    <li><a href ="http://academics.wvutech.edu/accreditation">Accreditations</a></li>
    <li><a href="mailto:techwebmaster@mail.wvu.edu">Questions or Comments?</a></li>
  </ul>
  
  <p>405 Fayette Pike | Montgomery, West Virginia 25136 | 888.554.8324 <br>
    &copy; <r:date_format format="%Y" value="now" /> WVU Tech. WVU Tech is a Division of <a href="http://wvu.edu/">West Virginia University</a><br>
     WVU Tech is an Equal Opportunity/Affirmative Action Institution and a tobacco-free environment.
  </p>
</div> <!-- /.wvu-credits -->