<div class="wvu-icons">
  <ul class="wvu-links">
    <li class="first"><a href="http://www.wvu.edu/SiteIndex/">A-Z Site Index</a></li>
		<li><a href="http://www.wvu.edu/CampusMap/">Campus Map</a></li>
		<li><a href="http://www.hr.wvu.edu/wvu_jobs">Jobs</a></li>
		<li><a href="http://directory.wvu.edu/">Directory</a></li><br>
  </ul>
  <ul class="wvu-links">
    <li><a href="http://www.wvuf.org/">Give</a></li>
    <li><a href="http://myaccess.wvu.edu/">MyAccess</a></li>
    <li><a href="http://careerservices.wvu.edu/mountaineertraklogins">MountaineerTRAK</a></li>
    <li><a href="http://emergency.wvu.edu/alert/">WVU Alert</a></li>
    <li><a href="http://wvutoday.wvu.edu">WVU Today</a></li>
    <li><a href="http://mix.wvu.edu/">MIX</a></li>
  </ul>
  
  <ul class="wvu-social">
    <li><a class="wvu-facebook" href="http://www.facebook.com/wvumountaineers">WVU on Facebook</a></li>
    <li><a class="wvu-twitter" href="https://twitter.com/WestVirginiaU/">WVU on Twitter</a></li>
    <li><a class="wvu-youtube" href="http://videos.wvu.edu">WVU on YouTube</a></li>
  </ul>
</div> <!-- /.wvu-icons -->