<!-- Super-nav - wvu-pattern-library/views/patterns/_super-av.html -->


<div class="wvu-quadtych <r:var name="wvu-quadtych__classes" />">
  <div class="wvu-quadtych__container">
    <div class="wvu-quadtych__quad wvu-quadtych__quad--<r:page:slug />">
      <r:editable_region name="wvu-quadtych__content-1" />
    </div>
  
    <div class="wvu-quadtych__quad wvu-quadtych__quad--<r:page:slug />">
      <r:editable_region name="wvu-quadtych__content-2" />
    </div>
  
    <div class="wvu-quadtych__quad wvu-quadtych__quad--<r:page:slug />">
      <r:editable_region name="wvu-quadtych__content-3" />
    </div>
  
    <div class="wvu-quadtych__quad wvu-quadtych__quad--<r:page:slug /> omega">
      <r:editable_region name="wvu-quadtych__content-4" />
    </div>
  </div>
</div>