
<div class="wvu-landing-page-header wvu-landing-page-header--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" />">
  <div class="wvu-landing-page-header__container <r:var name="wvu-landing-page-header-container__classes" />">
  
    <h1><r:editable_region name="wvu-landing-page-header" /></h1>
    
    <p class="wvu-landing-page-header__intro wvu-landing-page-header__intro--overlay <r:var name="wvu-landing-page-header-intro__classes" /> omega"><r:page:meta_description /> </p>
  
  </div>
</div>