.wvu-masthead__container { @include outer-container(); }

.wvu-masthead__logo {
  @include mq($bp-medium) {
    @include span-columns(7.5);
  }
  @include mq($bp-large) {
    @include span-columns(8.5);
  }
}

.wvu-masthead__search-bar { 
  @include mq($bp-medium) {
    @include span-columns(4.5);
  }
  @include mq($bp-large) {
    @include span-columns(3.5);
  }
}